<table border="0">
  <tbody>
    <tr>
  <%= reason_checkbox("Education/Training") %>
  <%= reason_checkbox("Quality Assurance") %>
    </tr>
    <tr>
  <%= reason_checkbox("Managment") %>
  <%= reason_checkbox("Administration") %>
    </tr>
    <tr>
  <%= reason_checkbox("Review preparatory to research") %>
  <%= reason_checkbox("Clinical Care") %>
    </tr>
  </tbody>
</table>