<% reports.each do |report| %>
  <div class="short-report">
    <a href="<%= url_for(:controller => :reports, :action => :show, :id => report.id) %>">
    <div class="study-info">
      <span class="heading">Accession #</span>
      <span class="info"><%= report.accession_number %></span>
      <span class="heading">Reason For Study:</span>
      <span class="info"><%= report.diag %></span>
      <span class="heading">Procedure Name:</span>
      <span class="info"><%= report.procedure_name %></span>
    </div>
    </a>
    <div class="body">
      <% highlight_words(search_terms) do %>
        <%= format_report(report.report) %>
      <% end %>
    </div>
  </div>
<% end %>
