<% reports.each do |report| %>
  <div class="short-report <%= cycle('odd','even') %>">
    <a href="<%= url_for(:controller => :reports, :action => :show, :id => report.id) %>">
      <span class="">Procedure Name:</span>
      <span class="info"><%= report.procedure_name %></span>
      <span class="">Reason For Study:</span>
      <span class="info"><%= report.diag %></span>
    </a>
    <div class="body">
        <%= report.report %>
    </div>
  </div>
<% end %>

<% if reports.size > 0 %>
  <%= will_paginate(reports) %>
<% else %>
  <div class="error-message">Found no reports ...</div>
<% end %>
