<div class="form-heading">Search</div>
<p style="font-weight: bold;">This tool is intended to be used for clinical decision support, education, and/or training. Access to images or data for research purposes requires a current, IRB-approved protocol. All uses of rad-search are logged and archived.</p>

<% remote_form_for :search, :url => {:action => "results"}, :update => "results", :loading => "$('form_spinner').show();", :loaded => "$('form_spinner').hide();" do |f| %>
  <div>
  <%= f.text_field :search_string, :class => "search-box" %>
  <%= submit_tag "Search" %>
  <%= image_tag("/images/spinner.gif", :id => "form_spinner", :style => "display: none;") %>
  <%= content_tag(:div, "Reason For Search", :class => "form-heading") %>
  <%= render :partial => "search/reasons_for" %>
  </div>
<% end %>

<div id="results"></div>
