<div class="form-heading">Search</div>
<h3 style="font-weight: bold;">
  This tool is intended to be used for clinical decision support, education, and/or training. Access to reports or data for research purposes requires a current, IRB-approved protocol. All uses of rad-search are logged and archived.<br />
  Click <%= link_to "here", :action => :use %> for a detailed explanation of proper use, usage tracking, and research and publication requirements
</h3>

<br />

<% remote_form_for :search, :url => {:action => "results"}, :update => "results", :loading => "$('form_spinner').show();", :loaded => "$('form_spinner').hide();" do |f| %>
  <div>
  <%= f.text_field :search_string, :class => "search-box", :size => 55, :value => @search_state.search_string %>
  <%= submit_tag "Search" %>
  <%= image_tag("/images/spinner.gif", :id => "form_spinner", :style => "display: none;") %>
  <%= content_tag(:span, link_to("Help", :action => "explanation"), :style => "padding-left: 15px;") %>
  <%= content_tag(:div, "Reason For Search", :class => "form-heading") %>
  <%= render :partial => "search/reasons_for" %>
  </div>
<% end %>

<div id="results">
  <%= render(:partial => "search/results", :locals => {:reports => @search_result.sphinx_object, :search_terms => @search_state.search_string }) if @search_result and (@search_state.contains_reason or not @search_state.new_search) %>
</div>
