<div class="form-heading">Search</div>
<p style="font-weight: bold;">The use of this tool for research without prior IRB approval, waiver, or exemption is forbidden</p>

<% remote_form_for :search, :url => {:action => "results"}, :update => "results", :loading => "$('form_spinner').show();", :loaded => "$('form_spinner').hide();" do |f| %>
  <div>
  <%= f.text_field :search_string, :class => "search-box" %>
  <%= submit_tag "Search" %>
  <%= image_tag("/images/spinner.gif", :id => "form_spinner", :style => "display: none;") %>
  <%= content_tag(:div, "Reason For Search", :class => "form-heading") %>
  <%= render :partial => "search/reasons_for" %>
  </div>
<% end %>

<div id="results"></div>
