<div class="form-heading">Search</div>
<h3 style="font-weight: bold;">
  This tool is intended to be used for clinical decision support, education, and/or training. Access to images or data for research purposes requires a current, IRB-approved protocol. All uses of rad-search are logged and archived.<br />
  Click <%= link_to "here", :action => :use %> for a detailed explanation of proper use, usage tracking, and research and publication requirements
</h3>

<br />

<% remote_form_for :search, :url => {:action => "results"}, :update => "results", :loading => "$('form_spinner').show();", :loaded => "$('form_spinner').hide();" do |f| %>
  <div>
  <%= f.text_field :search_string, :class => "search-box", :size => 55 %>
  <%= submit_tag "Search" %>
  <%= image_tag("/images/spinner.gif", :id => "form_spinner", :style => "display: none;") %>
  <!-- <%= content_tag(:div, link_to("Search Features Explained", :action => "explanation")) %> -->
  <%= content_tag(:div, "Reason For Search", :class => "form-heading") %>
  <%= render :partial => "search/reasons_for" %>
  </div>
<% end %>

<div id="results"></div>
