<div class="short-report">
  <div class="study-info">
    <span class="heading">Accession #</span>
    <span class="info"><%= @report.accession_number %></span>
    <span class="heading">Patient ID</span>
    <span class="info"><%= @report.patient_id %>
    <span class="heading">Procedure Name:</span>
    <span class="info"><%= @report.procedure_name %></span>
    <span class="heading">Radiologist:</span>
    <span class="info"><%= @report.attending %></span>
  </div>
  <div class="body">
    <% highlight_words(@search_terms) do %>
      <%= format_report(@report.report) %>
    <% end %>
  </div>
</div>
